.sidebar {
    border: 2px solid black;
    border-radius: 5px;
    height: 500px;
    width: 180px;
    margin-left: 1rem;
    justify-content: center;
    position:fixed
}

.list {
    margin: 10px;
    padding: 0px 0px 0px 0px;
}

.back-home {
    margin: 30px;
    padding: 0px 0px 0px 0px;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0%;
    list-style: none;
}
