.sidebar {
    border: 2px solid black;
    border-radius: 5px;
    height: 500px;
    width: 100px;
    margin-left: 2rem;
    justify-content: center;
    position:fixed
}


.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1px 0px 3px 5px;
    list-style: none;
    height: 60px;
}